body {
  margin: 0;
  padding: 0;
  background-color: #e6e8eb;
  font-family: Lucida Grande , Tahoma Segoe UI , San Francisco, Roboto;
  }

#barra {
  height: 43px;
  background-color: #395ca9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000000;
  }

#contenidor {
  width: 850px;
  background-color: #FFF;
  margin: 0 auto;
  }

#portada {
  height: 234px;
  background-image: url(img/portada.jpg);
  margin-top: 43px;
  }

#nom {
  width: 320px;
  position: relative;
  top: 188px;
  left: 200px;
  color: #fff;
  text-shadow: 0 0 5px black;
  }

#perfil{
  height: 161px;
  width: 161px;
  background-color: pink;
  border: solid 2px white;
  border-radius: 4px;
  box-shadow: 0 0 5px black;
  position: relative;
  margin-left: 17px;
  margin-top: 43px;
  }

#menu {
  height: 44px;
  background-color: #e6e8eb;
  margin: 0 0 0 192px;
  padding: 0;
  width: 516px;
  }

#menu li{
  float: left;
  padding: 0 18px;
  display: block;
  font-weight: bold;
  color: #395ca9;
  background-color: #FFF;
  margin: 0 0 0 1px;
  height: 44px;
  line-height: 44px;
  }

  #menu li:hover{
    color: #000;
    background-image: url(img/select.gif);
    background-repeat: no-repeat;
    background-position: 50% 37px;
    }

  #contingut {
    border-top: 1px solid #e6e8eb;
    }

  .esquerra {
    width: 323px;
    border: solid 1px #e6e8eb;
    border-radius: 3px;
    margin: 10px 0;
    }

  .esquerra h4{
    height: 14px;
    padding: 5px;
    font-weight: normal;
    font-size: 18px;
    text-indent: 30px;
    background-image: url(img/lateral.png);
    background-repeat: no-repeat;
    margin: 0;
  }

  #presentacio h4{
    background-position: 0 0px;
    position: relative;
    top: 5px;
    left: 5px;
  }
  #fotos h4{
    background-position: 0 -24px;
    position: relative;
    top: 5px;
    left: 5px;
  }
  #amics h4{
    background-position: 0 -48px;
    position: relative;
    top: 5px;
    left: 5px;
  }

  #fotos li{
    display: block;
  }
  #amics li{
    display: block;
  }

  #presentacio li{
    height: 20px;
    border-top: 1px solid #e6e8eb;
    padding: 5px;
  }

  .estudis{
    list-style-image: url(img/icones_estudis.png);
  }

  .domicili{
    list-style-image: url(img/icones_domicili.png);
  }

  .trabajo{
    list-style-image: url(img/icones_feina.png);
  }

  .pareja{
    list-style-image: url(img/icones_sentimental.png);
  }

  .edad{
    list-style-image: url(img/cercles.png);
  }

  .hobbies{
    list-style-image: url(img/icones_rss.png);
  }

  .grup{
    list-style-image: url(img/icones_amics.png);
  }

  .insta{
    list-style-image: url(img/icones_esdeveniments.png);
  }

  #fotos ul li{
    display: block;
    background-color: yellowgreen;
    width: 99px;
    height: 99px;
    margin: 3px;
    float: left;

  }

  #fotos ul{
    overflow: hidden;
    margin: 4px;
    padding: 0;
    position: relative;
    top: 10px;
  }

  #foto1 {
    background-image: url(img/f1.jpeg);
  }

  #foto2 {
    background-image: url(img/f2.jpg);
  }

  #foto3 {
    background-image: url(img/f3.jpg);
  }

  #foto4 {
    background-image: url(img/f4.jpeg);
  }

  #foto5 {
    background-image: url(img/f5.jpeg);
  }

  #foto6 {
    background-image: url(img/f6.jpeg);
  }

  #foto7 {
    background-image: url(img/f7.jpeg);
  }

  #foto8 {
    background-image: url(img/f8.jpg);
  }

  #foto9 {
    background-image: url(img/f9.jpeg);
  }

  #amics ul li{
    display: block;
    color: white;
    background-color: yellowgreen;
    background-size: 99px 99px;
    width: 99px;
    height: 99px;
    margin: 3px;
    float: left;
    line-height: 128px;
    text-indent: 5px;
    text-shadow: 0 0 2px #black;
    background-image: url(img/perfil.jpg);
  }


  #amics ul{
    overflow: hidden;
    margin: 4px;
    padding: 0;
    position: relative;
    top: 10px;
  }
